$background-color: #2a2b2f;
$primary-color: #222327;
$text-color: #fff;
$text-opacity: rgba($color: #fff, $alpha: 0.5);  
$medium-progress: #FFA048;
$completed-progress: #78D700;
$low-progress: #FF7979;  
$line-color: rgba($color: #fff, $alpha: 0.1);
$list-task-color:  #24262c;
$card-task-color: #292b31;