$bg-light: #F8F9FC;
$bg-dark: #080D0D;
$main-color: #3A74F2;
$placeholder: #B5B5B5;
$sidebar-light: #D2E0FF;
$sidebar-dark: #93c0e8;
$text-color: #DCE9FB;
$button-text:  #F8F9FC;
$button-color: #0D47C5;